{% extends "quickchatapp/index.html" %}

{% block details %}

<style>
    .chat-me, .chat-user {
        position: relative;
        color: #fffefe;
        border-radius: 20px;
        padding: 15px 20px;
        max-width: 80%;
        margin-bottom: 15px;
        font-family: Arial, sans-serif;
    }
    .chat-user {
        background: linear-gradient(to right,#6699CC, #476EAE);
        left: 2%;
    }
    .chat-me {
        background: linear-gradient(to right, #4D5D53,#778A7E);
    }

    .chat-me::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #778A7E;
    }

    .chat-user::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        border-width: 10px 15px 10px 0;
        border-style: solid;
        border-color: transparent #6699CC transparent transparent;
        display: block;
        width: 0;
    }

    .utility-container {
        display: inline-block;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }
    .utility-container ul {
        padding: 3px 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        border-radius: 25px;
        background-color: #ddd;
        position: relative;
        margin-bottom: auto;
    }
    .utility-container ul li {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 1rem;
        overflow: hidden;
    }
    .utility-container ul li:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .utility-container ul li.emoji-selector {
        background-color: white;
        border-radius: 1rem;
        cursor: default;
        display: block;
        padding: 0;
        border: 1px solid #eee;
        position: absolute;
        bottom: 0%;
        left: -100%;
        width: 325px;
        height: 350px;
        z-index: 5;
        opacity: 0;
        pointer-events: none;
        overflow: auto;
        transition: bottom 0.3s ease, opacity 0.3s ease;
    }
    .utility-container ul li.emoji-selector.active {
        bottom: 110%;
        left: -100%;
        opacity: 1;
        pointer-events: all;
    }
    .utility-container ul li.emoji-selector .input-container {
        padding: 1rem;
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 5;
    }
    .utility-container ul li.emoji-selector .input-container input {
        border-radius: 25px;
        border: 1px solid #eee;
        width: 100%;
        padding: 0.5rem 1rem;
        outline: none;
    }
    .utility-container ul li.emoji-selector ul.emoji-list {
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 1rem 1rem;
        border-radius: 0;
    }
    .utility-container ul li.emoji-selector ul.emoji-list li {
        height: 35px;
        width: 35px;
        border-radius: 0.25rem;
        font-size: 1.5rem;
    }

</style>

<div class="container-md me-1">
    <div class="container-fuild">
        <div class="row">
            <div class="col-auto">
                <img src="{{friend.profile.pic.url}}" alt="profile-picture"
                    class="rounded-circle img-fluid thumbnail my-2" style="width: 30px; height: 30px;" alt="...">
            </div>
            <div class="col-auto mt-2 pt-1 ps-0">
                <h5>{{friend.profile.username}}</h5>
            </div>
        </div>
    </div>

    <hr class="border border-dark border-2 opacity-50 mt-0">
    <div class="container-md px-1 mb-1 overflow-auto text-break" style="height: 530px;" id='chat_body'>

        {% for chat in chats %}
        {% if chat.msg_sender == user and chat.msg_receiver == profile %}

        <div class="container-md d-flex justify-content-end">
            <div class="chat-me">
                {{chat}}
            </div>
        </div>

        {% elif chat.msg_sender == profile and chat.msg_receiver == user %}

        <div class="container-md d-flex justify-content-start">
            <div class="chat-user">
                {{chat}}
            </div>
        </div>

        {% endif %}
        {% endfor %}

    </div>
    <div class="container-md px-1">
        <form action="" method="POST" class="row gx-1" id="sendform">
            {% csrf_token %}
            <div class="col-8 col-sm-8 col-lg-9">
                {{form.body}}
            </div>
            <div class="btn-group col-2 col-sm-2 col-lg-1 px-0 utility-container">
                <ul class="utility-group">
                    <li class="emoji-selector container" id="emojiSelector">
                        <div class="input-container">
                            <input id="emojiSearch" type="text" name="" id="" placeholder="Search...">
                        </div>
                        <ul id="emojiList" class="emoji-list">
                        </ul>
                    </li>
                    <li id="emojiSelectorIcon"><a href="#" class="link-underline link-secondary" id="emoji-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-emoji-smile m-1" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                      </svg></a></li>
                    <li><a href="#" class="link-underline link-secondary" id="emoji-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-emoji-smile m-1" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                      </svg></a></li>
                </ul>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-secondary w-100">Send</button>
            </div>
        </form>
    </div>

<script>

    // disable send button if text-area is empty
    var $button = $("button");
    const chatMsg = document.getElementById('msg-id');
    $button.prop("disabled", true);

    chatMsg.addEventListener("input", () => {
    $button.prop("disabled", (chatMsg.value === "")? true : false);
    });

    // add emoji selection in chat
    const emojiSelectorIcon = document.getElementById('emojiSelectorIcon');
    const emojiSelector = document.getElementById('emojiSelector');
    const emojiList = document.getElementById('emojiList');
    const emojiSearch = document.getElementById('emojiSearch');


    emojiSelectorIcon.addEventListener('click', () => {
        emojiSelector.classList.toggle('active');
    });

    fetch('https://emoji-api.com/emojis?access_key=823739d76808914f9e06a049539148d39cb32eba')
        .then(res => res.json())
        .then(data => loadEmoji(data))

    function loadEmoji(data) {
        data.forEach(emoji => {
            let li = document.createElement('li');
            li.setAttribute('emoji-name', emoji.slug);
            li.textContent = emoji.character;
            emojiList.appendChild(li);
            li.addEventListener('click', function() {
            addEmoji(emoji.character);
            });
        });
    }

    function addEmoji(emoji) {
        let textarea = document.getElementById('msg-id');

        // Insert the emoji character at the current cursor position
        let cursorPos = textarea.selectionStart;
        let textBeforeCursor = textarea.value.substring(0, cursorPos);
        let textAfterCursor = textarea.value.substring(cursorPos);
        textarea.value = textBeforeCursor + emoji + textAfterCursor;

        // Move the cursor after the inserted emoji
        textarea.selectionStart = cursorPos + emoji.length;
        textarea.selectionEnd = cursorPos + emoji.length;

        // Trigger the input event to notify any listeners that the value has changed
        textarea.dispatchEvent(new Event('input'));
    }

    emojiSearch.addEventListener('keyup', e => {
        let value = e.target.value;
        let emojis = document.querySelectorAll('#emojiList li');
        emojis.forEach(emoji => {
            if(emoji.getAttribute('emoji-name').toLowerCase().includes(value)){
                emoji.style.display = 'flex';
            } else {
                emoji.style.display = 'none';
            }
        })
    })

    // To keep scrollbar at bottom for recent chats
    var objDiv = document.getElementById("chat_body");
    objDiv.scrollTop = objDiv.scrollHeight;

    let form = document.getElementById("sendform")
    form.addEventListener("submit", sendChat)

    function sendChat(e) {
        e.preventDefault()
        let chatMessage = document.getElementById("msg-id").value;

        // to fetch resources asynchronously across the network
        async function postJSON(data, url) {
            try {
                const response = await fetch(url, {
                    method: "POST", // or 'PUT'
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify(data),
                });

                const result = await response.json();
                console.log("Success:", result);
                let chat_body = document.getElementById('chat_body');
                let chatMessageBox = document.createElement("div");
                let chatMessageDiv = document.createElement("div");
                chatMessageDiv.classList.add("container-md", "d-flex", "justify-content-end");
                chatMessageBox.classList.add("chat-me");
                chatMessageBox.innerText = result;
                chatMessageDiv.append(chatMessageBox);
                chat_body.append(chatMessageDiv);
                document.getElementById("msg-id").value = '';
                $button.prop("disabled", true);

                // To keep scrollbar at bottom for recent chats
                var objDiv = document.getElementById("chat_body");
                objDiv.scrollTop = objDiv.scrollHeight;
            } catch (error) {
                console.error("Error:", error);
            }
        }

        const data = { msg: chatMessage };
        let url = "{% url 'sent_msg' friend.profile.id %}"
        postJSON(data, url);
    }

    setInterval(receiveMessages, 2000);

    let counter={{ chatCounts }};
    
    function receiveMessages() {
        let url = "{% url 'rev_msg' friend.profile.id %}"
        async function postJSON(url) {
            try {
                const response = await fetch(url);
                const result = await response.json();
                console.log("Success:", result);
                if (result.length == 0) {
                } else {
                    let lastMsg = result[result.length - 1]

                    if (counter == result.length) { console.log("there is no new chat"); }
                    else {
                        let chat_body = document.getElementById('chat_body');
                        let chatMessageBox = document.createElement("div");
                        let chatMessageDiv = document.createElement("div");
                        chatMessageDiv.classList.add("container-md", "d-flex", "justify-content-start");
                        chatMessageBox.classList.add("chat-user");
                        chatMessageBox.innerText = lastMsg;
                        chatMessageDiv.append(chatMessageBox);
                        chat_body.append(chatMessageDiv);
                        document.getElementById("msg-id").value = '';
                        // To keep scrollbar at bottom for recent chats
                        var objDiv = document.getElementById("chat_body");
                        objDiv.scrollTop = objDiv.scrollHeight;
                    }
                }
                counter = result.length
            } catch (error) {
                console.error("Error:", error);
            }
        }
        const data = { num: counter };
        postJSON(url);
    }
</script>

{% endblock %}
