{% extends "quickchatapp/base.html" %}

{% block content %}

<style>
    ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    }

    .empty-placeholder {
      text-align: center;
      padding: 20px;
      color: #999; /* Placeholder text color */
    }
</style>

<div class="container rounded bg-body-tertiary shadow rounded" style="margin-top: 100px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-1 py-0">
        <a class="navbar-brand" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
              </svg>
            <!-- <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top"> -->
            Quick Chat
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Chats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'friend_request' %}">Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'suggestion' %}">Suggestions</a>
              </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <span class="navbar-text">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mt-1" href="#">
                            <h4>{{request.user.username}}</h4>
                        </a>
                    </li>
                    <li class="nav-item dropdown-center">
                        <img src="{{ request.user.profile.pic.url }}" alt="profile picture" class="dropdown-toggle rounded-circle img-fluid mt-1"
                            style="width: 50px; height: 50px;" role="button" data-bs-toggle="dropdown" />
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{%url 'update_profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </span>
    </nav>

    {% block mutual_friend %}
    <div class="row">
        <div class="col-md-3 p-1">
            <div class="container-md overflow-auto px-1 my-1 bg-body-secondary" style="height: 650px;">
                {% if friends %}

                {% for friend in friends %}
                <div class="card my-2" style="max-width: 340px;">
                    <a href="{% url 'details' friend.profile.id %}" class="text-decoration-none">
                        <div class="row g-0">
                            <div class="col-md-auto">
                                <img src="{{ friend.profile.pic.url }}"
                                    class="rounded-circle img-fluid thumbnail my-2 ms-2" style="width: 75px; height: 75px;"
                                    alt="...">
                            </div>
                            <div class="col-md-auto">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">{{friend.profile.username}}<span
                                            class="badge bg-secondary ms-2">0</span></h5>
                                    <p class="card-text"><small class="text-secondary">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}

                <div class="container" style="padding-top: 200px;">
                    <!-- Data -->
                    <div class="empty-placeholder" id="data">
                      <span><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                      </svg></span>
                    </div>

                    <!-- Empty placeholder -->
                    <div id="placeholder" class="empty-placeholder">
                        Make some new friends
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
        <div class="col-md-9 p-1 py-2">
            <div class="container-md bg-body-secondary h-100 mb-2">

                {% block details %}

                <div class="container" style="padding-top: 200px;">
                    <!-- Data -->
                    <div class="empty-placeholder" id="data">
                      <span><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-chat-square-text" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                          <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                      </svg><!-- Icon --></span>
                    </div>

                    <!-- Empty placeholder -->
                    <div id="placeholder" class="empty-placeholder">
                        Start Conversation with your Friends
                    </div>
                </div>

                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock mutual_friend %}
</div>

<script>
    setInterval(getNotification, 1000)
    function getNotification(){
        let url = "{% url 'notification' %}"

        fetch(url)
        .then(res=>res.json())
        .then(data=>{
            let chatNotificationBtn = document.getElementsByClassName("badge");
            for(let i = 0; i<data.length; i++){
                chatNotificationBtn[i].innerHTML = data[i]
            }
        })
        .catch(error => console.log(error))
    }
</script>

{% endblock %}
