{% extends "quickchatapp/index.html" %}
{% load custom_filter %}

{% block details %}

<div class="container p-0 pt-1">
    <div class="container">
        <h4>Suggestions</h4>
    </div>

    <hr class="border border-dark border-2 opacity-50 mt-0">

    <div class="container-md px-1 pb-0 overflow-auto" style="height: 580px;">
        <div class="row g-2">

            {% for friend in s_friends %}

            <div class="col-sm-6">
                <div class="card mb-0 bg-secondary bg-opacity-10 bg-gradient" style="max-width: 540px;  max-height: 120px;">
                    <div class="row g-0">
                        <div class="col-md-4 p-1">
                            <img src="{{friend.profile.pic.url}}" class="img-fluid rounded h-100" style="max-height: 110px;" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body pt-1">
                                <h5 class="card-title">{{friend.username}}</h5>
                                <p class="card-text">Requested to Follow you</p>
                                <p class="card-text">

                                {% if friend.id|if_id_in_queryset:f_friend %}

                                <div class="container ps-0">
                                    <div class="btn btn-secondary btn-sm confirm-btn add-btn disable"
                                        data-id={{friend.id}}>Request Sent</div>
                                    <div class="btn btn-danger btn-sm del-btn" data-id={{friend.id}}>Cancel Request
                                    </div>
                                </div>

                                {% else %}
                                <div class="container ps-0">
                                    <div class="btn btn-primary btn-sm confirm-btn add-btn" data-id={{friend.id}}>Add
                                        Friend</div>
                                    <div class="btn btn-secondary btn-sm del-btn" data-id={{friend.id}}>Remove</div>
                                </div>

                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

        <script>
            let add_btns = document.querySelectorAll(".add-btn")
            let cancel_btns = document.querySelectorAll(".del-btn")

            //looping through the "add-friend button"
            for (let btn of add_btns) {
                btn.addEventListener("click", send_friend_request)
            }

            async function postJSON(data, btn) {
                let url = "{% url 'send-request' %}"
                try {
                    const response = await fetch(url, {
                        method: "POST", // or 'PUT'
                        headers: {
                            "Content-Type": "application/json",
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify(data),
                    });

                    const result = await response.json();
                    console.log("Success:", result);
                    btn.innerText = "Request Sent"
                    btn.classList.add("disable", "btn-secondary")
                    btn.nextElementSibling.innerText = 'Cancel Request'
                    btn.nextElementSibling.classList.add("btn-danger")
                } catch (error) {
                    console.error("Error:", error);
                }
            }

            function send_friend_request(e) {
                const btn = e.target
                const datasetId = e.target.dataset.id;
                postJSON(datasetId, btn);
            }
        </script>

        {% endblock details %}

        .disable{
        pointer-events: none;
        opacity: 0.7;
        font-size: 14px;
        }