{% extends "quickchatapp/index.html" %}
{% load custom_filter %}

{% block details %}

<div class="container p-0 pt-1">
    <div class="container">
        <h4>Suggestions</h4>
    </div>

    <hr class="border border-dark border-2 opacity-50 mt-0">

    <div class="container-md px-1 pb-0 overflow-auto" style="height: 580px;">
        <div class="row row-cols-md-3 g-2">

            {% for friend in s_friends %}

            <div class="col-sm-6">
                <div class="card mb-0 bg-secondary bg-opacity-10 bg-gradient" style="max-width: 350px;  max-height: 120px;">
                    <div class="row g-0">
                        <div class="col-md-4 p-1">
                            <img src="{{friend.profile.pic.url}}" class="img-fluid rounded h-100" style="max-height: 110px;" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body pt-1">
                                <h5 class="card-title">{{friend.username}}</h5>
                                <p class="card-text">Make new connections</p>
                                <p class="card-text">

                                {% if friend.id|if_id_in_queryset:f_friend %}

                                <div class="container ps-0">
                                    <div class="btn btn-secondary btn-sm  add-btn disable" title="Request Sent" data-id={{friend.id}}>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16"> \
                                            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/> \
                                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/> \
                                            </svg></div>
                                    <div class="btn btn-danger btn-sm del-btn" title="Delete Request" data-id={{friend.id}}>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-x" viewBox="0 0 16 16">
                                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708"/>
                                          </svg>
                                    </div>
                                </div>

                                {% else %}
                                <div class="container ps-0">
                                    <div class="btn btn-primary btn-sm add-btn" title="Add Friend" data-id={{friend.id}}>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-add add-btn" viewBox="0 0 16 16">
                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                                        </svg></div>
                                    <div class="btn btn-secondary btn-sm del-btn" title="Remove" data-id={{friend.id}}>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-slash" viewBox="0 0 16 16">
                                            <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465m-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                        </svg>
                                    </div>
                                </div>

                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

        <script>
            let add_btns = document.querySelectorAll(".add-btn")
            let cancel_btns = document.querySelectorAll(".del-btn")

            //looping through the "add-friend button"
            for (let btn of add_btns) {
                btn.addEventListener("click", send_friend_request)
            }

            for (let btn of cancel_btns) {
                btn.addEventListener("click", cancel_friend_request)
            }

            async function postJSON(data, btn) {
                let url = ""
                if (btn.title.startsWith("Remove")){
                    url = "{% url 'cancel-request' %}"
                }else{
                    url = "{% url 'send-request' %}"
                }
                try {
                    const response = await fetch(url, {
                        method: "POST", // or 'PUT'
                        headers: {
                            "Content-Type": "application/json",
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify(data),
                    });

                    const result = await response.json();
                    console.log("Success:", result);
                    btn.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16"> \
                                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/> \
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/> \
                                    </svg>'
                    btn.classList.add("disable", "btn-secondary")
                    btn.nextElementSibling.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-x" viewBox="0 0 16 16"> \
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/> \
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708"/> \
                                    </svg>'
                    btn.nextElementSibling.classList.add("btn-danger")
                } catch (error) {
                    console.error("Error:", error);
                }
            }

            function send_friend_request(e) {
                const btn = e.target
                const datasetId = e.target.dataset.id;
                postJSON(datasetId, btn);
            }

            function cancel_friend_request(e) {
                const btn = e.target
                const datasetId = e.target.dataset.id;
                postJSON(datasetId, btn);
            }
        </script>

        {% endblock details %}

